.hidden {
  display: none; }

#dashboard {
  display: flex;
  height: 100%;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  flex-direction: row; }
  #dashboard .row {
    clear: both;
    width: 100%; }
  #dashboard h3 {
    color: #acacac;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.5em; }
  #dashboard h4 {
    color: #858585;
    font-size: 1em;
    padding-left: 1.5em; }
  #dashboard ul.feedback-buttons {
    list-style: none;
    margin: 0;
    padding: 0; }
    #dashboard ul.feedback-buttons li {
      float: left;
      margin: 0;
      padding: 0; }
      #dashboard ul.feedback-buttons li button {
        border: 0;
        padding: 1em 2em;
        color: #FBFEFF;
        font-size: 0.75em;
        font-weight: 500;
        background: #89b8fc;
        border-radius: 5em; }
        #dashboard ul.feedback-buttons li button:hover {
          background-color: #86f7eb;
          cursor: pointer; }
        #dashboard ul.feedback-buttons li button:focus {
          outline: 0; }
      #dashboard ul.feedback-buttons li span {
        margin: 0 1.5em 0 0.3em;
        color: #CCC; }
        #dashboard ul.feedback-buttons li span:hover {
          color: #858585;
          cursor: pointer; }
  #dashboard ul.current-feedback, #dashboard ul.current-appointments {
    background-color: #eee;
    border-radius: 1.5em;
    padding: 1.5em; }
    #dashboard ul.current-feedback li, #dashboard ul.current-appointments li {
      color: #858585;
      margin-left: 1.5em;
      padding: 1em 0; }
  #dashboard input.feedback-input {
    color: #858585;
    border: 0;
    border-bottom: 3px solid #E7E7E7;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.75em 0;
    font-size: 0.8em;
    margin-bottom: 1.2em;
    margin-top: 2em;
    font-weight: 400;
    width: 45%; }
    #dashboard input.feedback-input::placeholder {
      color: #858585;
      font-weight: 300; }
    #dashboard input.feedback-input:focus {
      outline: none; }
  #dashboard input.add-button {
    color: #f9f9f9;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.2em 0.7em;
    font-size: 1.2em;
    border-radius: 5em;
    background-color: #858585; }
    #dashboard input.add-button::placeholder {
      color: #858585;
      font-weight: 300; }
    #dashboard input.add-button:hover {
      cursor: pointer;
      background-color: #89b8fc; }
    #dashboard input.add-button:focus {
      outline: none; }
  #dashboard .apt-prompt {
    font-size: 0.75em;
    color: #858585; }
  #dashboard input.end, #dashboard input.start {
    border: 0;
    border-bottom: 2px solid #eee;
    padding: 5px;
    font-size: .75em; }
    #dashboard input.end:focus, #dashboard input.start:focus {
      outline: 0; }
  #dashboard input.submitTime {
    background: #89b8fc;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #f9f9f9;
    font-size: 0.5em;
    border-radius: 2em;
    margin-left: 15px;
    padding: 1.2em 2em; }
    #dashboard input.submitTime:hover {
      background-color: #86f7eb;
      cursor: pointer; }
    #dashboard input.submitTime:focus {
      outline: 0; }
  #dashboard input.inactiveSubmitTime {
    background: #e7e7e7;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
    color: #858585;
    font-size: 0.5em;
    border-radius: 2em;
    margin-left: 15px;
    padding: 1.2em 2em; }
    #dashboard input.inactiveSubmitTime:focus {
      outline: 0; }
  #dashboard .clear {
    clear: both; }

.inventory {
  margin-top: 50px; }
  .inventory .url-root {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #858585;
    font-size: 0.9em;
    border-bottom: 3px solid #E7E7E7;
    padding: 0.75em 0; }
  .inventory input.url-input {
    color: #858585;
    border: 0;
    border-bottom: 3px solid #E7E7E7;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.75em 0;
    font-size: 0.9em;
    margin-bottom: 1.2em;
    font-weight: 400;
    width: 45%; }
    .inventory input.url-input::placeholder {
      color: #858585;
      font-weight: 400; }
    .inventory input.url-input:focus {
      outline: none; }
  .inventory input.submit-button {
    border: 0;
    padding: 1em 2em;
    color: #FBFEFF;
    font-size: 0.75em;
    font-weight: 500;
    background: #89b8fc;
    border-radius: 5em;
    margin-bottom: 3em; }
    .inventory input.submit-button:hover {
      background-color: #858585;
      cursor: pointer; }
    .inventory input.submit-button:focus {
      outline: 0; }

#features {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  width: 60%; }
  #features #status {
    height: 24px;
    width: 24px;
    border-radius: 12px; }
  #features .loading {
    background-color: #fbc34c; }
  #features .alive {
    background-color: #57e583; }
  #features .offline {
    background-color: #fa4646; }
  #features .failed {
    background-color: #fa4646; }
  #features .status-text {
    font-size: 0.7em;
    padding-top: 10px;
    color: #858585; }
  #features h3 {
    color: #acacac;
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.5em; }
  #features #feature-set {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
    #features #feature-set .feature {
      background-color: #e7e7e7;
      text-align: center;
      height: 8em;
      width: 30%;
      margin: 1em 0;
      border-radius: 1.5em;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 1.3em;
      font-weight: 600;
      color: #858585; }
      #features #feature-set .feature a {
        color: #858585;
        text-decoration: none; }
        #features #feature-set .feature a:hover {
          color: #658ac0; }
      #features #feature-set .feature.active {
        background-color: #89b8fc;
        color: #FBFEFF; }
        #features #feature-set .feature.active a {
          color: #FBFEFF;
          text-decoration: none; }
          #features #feature-set .feature.active a:hover {
            color: #658ac0; }
      @media (max-width: 900px) {
        #features #feature-set .feature {
          width: 45%; } }
      @media (max-width: 480px) {
        #features #feature-set .feature {
          width: 100%; } }

#navigation {
  position: absolute;
  left: 1em;
  top: 1em; }
  #navigation a {
    border: 0;
    color: #acacac;
    font-size: 1em; }
    #navigation a:hover {
      color: #89b8fc; }
