.hidden {
    display: none;
}
#dashboard {
	display: flex;
	height: 100%;
	width: 50%;
	padding: 0;
	margin: 0 auto;
	flex-direction: row;
	.row {
		clear: both;
		width: 100%;
	}

	h3 {
		color: #acacac;
		text-align: center;
		font-size: 1.5em;
		margin-top: 1.5em;
	}

	h4 {
		color: #858585;
		font-size: 1em;
		padding-left: 1.5em;
	}

	ul.feedback-buttons {
		list-style: none;
		margin: 0; padding: 0;
		li {
			float: left;
			margin: 0;
			padding: 0;
			button {
				border: 0;
			    padding: 1em 2em;
			    color: #FBFEFF;
			    font-size: 0.75em;
			    font-weight: 500;
			    background: #89b8fc;
			    border-radius: 5em;
			    &:hover {
			    	background-color: #86f7eb;
			    	cursor: pointer;
			    }
			    &:focus {
			    	outline: 0;
			    }

			}
			span {
				margin: 0 1.5em 0 0.3em;
				color: #CCC;
				&:hover {
					color: #858585;
					cursor: pointer;
				}

			}
		}
	}

	ul.current-feedback, ul.current-appointments {
		background-color: #eee;
		border-radius: 1.5em;
		padding: 1.5em;
		li {
			color: #858585;
			margin-left: 1.5em;
			padding: 1em 0;
		}
	}

	input.feedback-input {
         color: #858585;
         border: 0;
         border-bottom: 3px solid #E7E7E7;
         font-family: 'Fira Sans', sans-serif;
         padding: 0.75em 0;
         font-size: 0.8em;
         margin-bottom: 1.2em;
         margin-top: 2em;
         font-weight: 400;
         width: 45%;
         &::placeholder {
            color: #858585;
            font-weight: 300;
        }
        &:focus {
        	outline: none;
        }
	}

	input.add-button {
         color: #f9f9f9;
         border: 0;
         font-family: 'Fira Sans', sans-serif;
         padding: 0.2em 0.7em;
         font-size: 1.2em;
         border-radius: 5em;
         background-color: #858585;
         &::placeholder {
            color: #858585;
            font-weight: 300;
        }
        &:hover {
        	cursor: pointer;
        	background-color: #89b8fc;
        }
        &:focus {
        	outline: none;
        }
	}

	.apt-prompt {
		font-size: 0.75em;
		color: #858585;
	}

	input.end, input.start {
		border: 0;
		border-bottom: 2px solid #eee;
		padding: 5px;
		font-size: .75em;
		&:focus {
			outline: 0;
		}
	}

	input.submitTime {
		background: #89b8fc;
		border: 0;
		font-family: 'Fira Sans', sans-serif;
		color: #f9f9f9;
        font-size: 0.5em;
        border-radius: 2em;
        margin-left: 15px;
        padding: 1.2em 2em;
		&:hover {
		    	background-color: #86f7eb;
		    	cursor: pointer;
		}
		&:focus {
			outline: 0;
		}
	}

	input.inactiveSubmitTime {
		background: #e7e7e7;
		border: 0;
		font-family: 'Fira Sans', sans-serif;
		color: #858585;
        font-size: 0.5em;
        border-radius: 2em;
        margin-left: 15px;
        padding: 1.2em 2em;
        &:focus {
        	outline: 0;
        }
	}

	.clear {
		clear: both;
	}
}

#features {
	height: 100%;
	padding: 0;
	margin: 0 auto;
	width: 60%;

	h3 {
		color: #acacac;
		text-align: center;
		font-size: 1.5em;
		margin-top: 1.5em;
	}

	#feature-set {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		.feature {
			background-color: #e7e7e7;
			text-align: center;
			height: 8em;
			width: 30%;
			margin: 1em 0;
			border-radius: 1.5em;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			font-size: 1.3em;
			font-weight: 600;
			color: #858585;
			a {
				color: #858585;
				text-decoration: none;
				&:hover {
					color: #658ac0;
				}
			}
			&.active {
				background-color: #89b8fc;
				color: #FBFEFF; 

				a {
					color: #FBFEFF;
					text-decoration: none;
					&:hover {
						color: #658ac0;
					}
				}
			}
			@media (max-width: 900px) {
				width: 45%;
			}
			@media (max-width: 480px) {
				width: 100%;
			}
			
		}
		
	}

}