.hidden {
  display: none; }

#registration, #login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0; }
  #registration .row, #login .row {
    width: 35%;
    margin: 0 auto; }
  #registration img, #login img {
    width: 100%; }
  #registration form, #login form {
    width: 100%;
    padding-top: 1em; }
    #registration form input, #login form input {
      width: 100%; }
      #registration form input.email-input, #registration form input.password-input, #registration form input.verify-password-input, #login form input.email-input, #login form input.password-input, #login form input.verify-password-input {
        color: #D5D5D5;
        border: 0;
        border-bottom: 3px solid #E7E7E7;
        font-family: 'Fira Sans', sans-serif;
        padding: 0.75em 0;
        font-size: 1em;
        margin-bottom: 1.2em;
        font-weight: 400; }
        #registration form input.email-input::placeholder, #registration form input.password-input::placeholder, #registration form input.verify-password-input::placeholder, #login form input.email-input::placeholder, #login form input.password-input::placeholder, #login form input.verify-password-input::placeholder {
          color: #D5D5D5;
          font-weight: 300; }
      #registration form input:focus, #login form input:focus {
        outline: 0;
        color: #ACACAC; }
      #registration form input.submit-button, #login form input.submit-button {
        border: 0;
        padding: 1.5em 0;
        color: #FBFEFF;
        margin-top: 1.75em;
        font-size: 1em;
        font-weight: 500;
        background: linear-gradient(90deg, #7FFEE8, #8DC9FF);
        border-radius: 5em; }
  #registration .register-navigation, #login .register-navigation {
    text-align: center; }
    #registration .register-navigation ul, #login .register-navigation ul {
      list-style: none;
      display: inline-block;
      text-align: initial; }
      #registration .register-navigation ul li, #login .register-navigation ul li {
        margin: 0 25px 0 0;
        padding: 0;
        float: left; }
        #registration .register-navigation ul li a, #login .register-navigation ul li a {
          font-size: 0.8em;
          color: #acacac; }
          #registration .register-navigation ul li a:hover, #login .register-navigation ul li a:hover {
            color: #8fcbfc; }
  #registration .registration-setup, #login .registration-setup {
    list-style: none;
    color: #acacac;
    font-size: 1.25em; }
    #registration .registration-setup li, #login .registration-setup li {
      padding: 1em; }
      #registration .registration-setup li .num, #login .registration-setup li .num {
        color: #acacac;
        font-weight: 500;
        background: none;
        padding-right: 7px; }
      #registration .registration-setup li .info, #login .registration-setup li .info {
        color: #f9f9f9;
        font-style: italic;
        background-color: #89b8fc;
        padding: 3px 6px;
        border-radius: 15px; }
        #registration .registration-setup li .info::selection, #login .registration-setup li .info::selection {
          background: #86f7eb; }
      #registration .registration-setup li a, #login .registration-setup li a {
        color: #89b8fc;
        font-weight: 500;
        text-decoration: none; }
        #registration .registration-setup li a:hover, #login .registration-setup li a:hover {
          color: #86f7eb; }
